.vikas-raj-yadav1 {
  position: relative;
  display: inline-block;
  min-width: 124px;
}
.designer-working-on-the-inter1 {
  font-weight: 200;
  color: var(--white);
}
.multi-disciplinary-designer-w-container1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-13xl);
  text-align: left;
  color: var(--color-orangered);
  font-family: var(--heading-16);
}
.frame-inner {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--color-gray-300);
}
.work1 {
  position: relative;
  font-weight: 900;
  display: inline-block;
  min-width: 52px;
}
.product-design-design1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 140%;
  font-weight: 500;
  color: var(--white);
}
.work-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.image-2-icon4 {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: var(--br-6xs);
  object-fit: cover;
  min-height: 40px;
}
.business-insider-india1 {
  position: relative;
}
.present1 {
  position: relative;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  display: inline-block;
  min-width: 100px;
}
.job16 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-xl) 0px 0px;
  box-sizing: border-box;
  gap: var(--gap-11xs);
  min-width: 190px;
}
.first10 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0px;
  gap: var(--gap-3xs);
}
.hdfc-bank1 {
  position: relative;
  display: inline-block;
  min-width: 88px;
}
.div5 {
  position: relative;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  display: inline-block;
  min-width: 84px;
}
.first11 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0px;
  gap: var(--gap-3xs);
  color: var(--white);
}
.paytm1 {
  position: relative;
  display: inline-block;
  min-width: 50px;
}
.div6 {
  position: relative;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  display: inline-block;
  min-width: 81px;
}
.div7 {
  width: 100px;
  position: relative;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  display: inline-block;
}
.first13 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0px;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--heading-16-size);
  color: var(--color-linen);
  font-family: var(--heading-16);
}
.first-job-image {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xl);
  color: var(--color-linen);
}
.work-section2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.rectangle-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--heading-16-size);
  color: var(--color-gray-200);
  font-family: var(--heading-16);
}
.multi-disciplinary-designer-w-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 94px;
}
.vrydesign1 {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-400);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 60.5px var(--padding-base) 0px;
  box-sizing: border-box;
  gap: 124.5px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--heading-16-size);
  color: var(--white);
  font-family: var(--heading-16);
}
